<main id="archive">
  <div class="content">
    <% 
      var years = {};
      site.posts.sort('date').reverse().forEach(function(post){
          var year = post.date.year()
          if(years[year]===undefined){
              years[year] = [];
          }
          years[year].push(post);
      });
    %>    
    <% Object.keys(years).reverse().forEach(function(year){  %>
      <div class="year-list">
        <h3><%= year %></h3>
        <ul>
          <% years[year].map(function(post){  %>
            <li >
              <time><%= post.date.format(__('date_format')) %></time>
              <a href="<%- config.root %><%- post.path %>">
                <span>
                    <%- post.title ? post.title : __('untitled') %>
                </span>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    <% }) %>    
  </div>
</main>
