<main id='index'>
  <div class="posts-list">
    <% page.posts.forEach(post => {%>
      <section>
        <a href="<%- url_for(post.path) %>">
          <h3 class='post-head'>
            <%- post.title %>
          </h3>
          <div class="post-content">
            <% if (post.description) {%>
              <%- post.description %>
            <% } else if (post.excerpt) {%>
              <%- post.excerpt %>
            <% } else if (post.content) {%>
              <% var br = post.content.indexOf('\n') %>
                <% if(br < 0) {%>
                  <%- post.content %>
                <% } else {%>
                  <%- post.content.substring(0, br) %>
                <% } %>
            <% } %>
          </div>
        </a>
        <div class='post-meta'>
          <i class="fa fa-calendar" aria-hidden="true"></i> <time><%-date(post.date, "YYYY年MM月DD日")%></time> |
          <% if (post.tags && post.tags.length) { %>
            <%- partial('_partial/tag', { tags: post.tags }) %>
          <% } %>
        </div>
      </section>
    <%})%>
    <% if (page.total > 1){ %>
      <%- partial('_partial/paging') %>
    <% } %>
  </div>
</main>
