<main id='index'>
  <div class="posts-list">
    <% page.posts.forEach(post => {%>
      <section>
        <a href="<%- url_for(post.path) %>">
          <h3 class='post-head'>
            <%- post.title %>
          </h3>
          <div class="post-content">
            <% if (post.description) {%>
              <%- post.description %>
            <% } else if (post.excerpt) {%>
              <%- post.excerpt %>
            <% } else if (post.content) {%>
              <% var br = post.content.indexOf('\n') %>
                <% if(br < 0) {%>
                  <%- post.content %>
                <% } else {%>
                  <%- post.content.substring(0, br) %>
                <% } %>
            <% } %>
          </div>
        </a>
        <div class='post-meta'>
          <i class="fa fa-calendar" aria-hidden="true"></i> <time><%-date(post.date, "YYYY年MM月DD日")%></time> |
          <% if (post.tags && post.tags.length) { %>
            <%- partial('_partial/tag', { tags: post.tags }) %>
          <% } %>
        </div>
      </section>
    <%})%>
    <% if (page.total > 1){ %>
      <%- partial('_partial/paging') %>
    <% } %>
  </div>
  <aside>
    <div class="search">
      <form action="//www.google.com/search" target="_blank" class="search-form">
        <input type="text" name="q" maxlength="20" placeholder="搜索">
        <input type="hidden" name='sitesearch' value="<%- config.url %>">
      </form>
    </div>
    <% if(config.links) { %>
      <div class="links">
        <h1>
          <i class="fa fa-heart-o" aria-hidden="true"> 友情链接</i>
        </h1>
        <% for(let i in config.links) { %>
          <a href="<%- config.links[i] %>"><%- i %></a>
        <% } %>
      </div>
    <% } %>
  </aside>
</main>
