<main id='tags'>
  <div class="tags-container">
  <div id='tag_cloud' class="tags">
      <% site.tags.map(function(tag){  %>
          <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
      <% }) %>
  </div>
  <% site.tags.map(function(tag){  %>
  <div class="tag-list">
      <span class="fa fa-tag listing-seperator" id="<%= tag.name %>">
          <span class="tag-text"><%= tag.name %></span>
      </span>
      <% tag.posts.map(function(post){  %>
        <div class="post-preview">
            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <%- post.title || __('untitled') %>
                </h2>
                <% if (post.subtitle && post.subtitle.length) { %>
                    <h3 class="post-subtitle">
                        <%- post.subtitle %>
                    </h3>
                <% } %>
            </a>
            <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
        </div>
      <% }) %>
  </div>
  <% }) %>  
  </div>
</main>
