<header>
  <div class="header-container">
    <a class='logo' href="<%- url_for() %>">
      <span><%- config.title %></span>
    </a>
    <ul class="right-header">
      <% for(name in theme.menu) { %>
        <li class="nav-item">
          <% if (url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home())) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link active"><%- name %></a>
          <% } else { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link"><%- name %></a>
          <% } %>
        </li>
      <% } %>
    </ul>
  </div>
</header>
