<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.favicon %>">
  <% } %>
  <%
    var title = page.title;
    if (is_archive()){
      title = '归档';
    }
    if (is_category()){
      title = page.category
    }
  %>  
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <%- css('style') %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
</head>
