<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="<%= config.keywords %>">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.favicon %>">
  <% } %>
  <%
    var title = page.title;
    if (is_archive()){
      title = __('archive_a');
    }
    if (is_category()){
      title = page.category
    }
  %>  
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<% if (page.description){ %><%= page.description %> | <% } %><%= config.description %>">
  <%- css('style') %>
  <%- css('lib/jquery.fancybox.min.css') %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
